header{
    height: 600px;
}

.list{
    text-decoration: underline;
    color: #fff;
    list-style: none;
    margin-left: -20px;
    font-weight: lighter;
}

.list:hover{
    text-decoration: underline;
    color: gray;
}

.ffc{
    font-family: 'Courgette', cursive;
}

.ffo{
    font-family: 'Oswald', sans-serif;
}

.bg-noir{
    background-color: black;
}

.text-noir{
    color: #000000;
}