header{
    background:linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)),url(../../img/header.jpg) no-repeat center;
    color: white;
    font-family: 'Courgette', cursive;
}

.header-logo{
    width: 70px;
}

.petit-titre{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.ffc{
    font-family: 'Courgette', cursive;
}
.ffo{
    font-family: 'Oswald', sans-serif;
}

.bor{
    border: 2px solid red;
}