.petit-titre{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.ffc{
    font-family: 'Courgette', cursive;
}

.ffo{
    font-family: 'Oswald', sans-serif;
}

.bg-noir{
    background-color: black;
}

.text-noir{
    color: #000000;
}